<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!--提供服务-->
    <bean id="demoService" class="com.jack.dubbo.demo.resource.DemoServiceImpl"/>
    <dubbo:service interface="com.jack.dubbo.demo.UserServiceResource" ref="demoService" version="1.0.0" group="dev" timeout="1000"/>

</beans>